.green {
    color: #128230;
    font-family: 'Secular One', sans-serif;
}

img {
    width: 150px;
    height: 250px;
}

.omar {
    font-family: 'Secular One', sans-serif;
}

h2 {
    color: #fc1303;
    font-family: 'Varela Round', sans-serif;
}
